# created by PyCharm
.idea

# created by Python
__pycache__

# these don't need to be in the repo but are part of the project
*.docx
*.pdf

# as the name implies, it's used for testing and isn't needed in the repo
test.py

# created by the game
*.score